.material-icons {
    font-size: 30 px;
}

#addButton {
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
}

#searchText {
    margin-top: 1%;
    margin-left: 10%;
    margin-bottom: 1%;
}

.mat-card {
    margin-left: 2%;
    margin-right: 2%;
}

.table {
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 90%;
    text-align: center;
    vertical-align: center;
}

th {
    text-align: center;
    font-size: 16px;
}

#paginator{
    margin-top: 2%;
    margin-right: 3%;
}